{% extends 'nav.html'%}
{% block nav %}
  <h1 class="text-dark ms-3">Employee List</h1>
  {% if messages %}
     {% for i in messages %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
         <!-- <h4 class="text-light">{{i}}</h4> -->
         <div class="alert alert-success alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>{{i}}</strong> 
          </div>          
        {% endif %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
         <!-- <h4 class="text-light">{{i}}</h4> -->
         <div class="alert alert-danger alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>{{i}}</strong> 
          </div>          
        {% endif %}
     {% endfor %}
  {% endif%}
  <table class="table table-dark">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Designation</th>
        <th></th>
    </tr>
    {% for i in employee %}
        <tr>
            <td>{{i.ename}}</td>
            <td>{{i.age}}</td>
            <td>{{i.salary}}</td>
            <td>{{i.designation}}</td>
            <td>
                <a href="{% url 'emedit' i.id%}" class="btn btn-success">Edit</a>
                <a href="{% url 'emdel' i.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock nav %}
